#root {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto; /* Center horizontally when width < max-width */
  padding-inline: clamp(2rem, 5vw, 4rem); /* Ensure padding to maintain minimum space */
  margin-block: clamp(2rem, 5vw, 4rem); /* Responsive top and bottom margins */
}

.schedule {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  & .booking-card{
    border: 1px solid #ffe066;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1.5rem;

    & p {
      margin-block: .5rem;
    }
  }
  & .cta {
    margin-top: auto;
    padding-top: 1rem;
    border-top: 1px solid #ffe066;
    text-align: center;
  }
  & .body {
  }
}
