.Switch__Root {
  all: unset;
  width: 42px;
  height: 25px;
  background-color: #2c3338;
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(#1d2327);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    box-shadow: 0 0 0 2px #1d2327;
    outline: none;
  }

  &[data-state="checked"] {
    box-shadow: 0 0 0 2px #deb100;
    background-color: #f2d76b;

    & .Switch__Thumb {
      background-color: #3c434a;
    }
  }
}

.Switch__Thumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
  &[data-state="checked"] {
    transform: translateX(19px);
  }
}
